a {
	color: inherit;
}

body {
	margin: 1em auto;
	max-width: 40em;
	padding:0 .62em;
	font: 1.2em/1.62 monospace;
}

h1 {
	border-bottom: 2px solid black;
}

#homepage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	min-height: 75vh;
}

#homepage h1 {
    border-bottom: 0px;
}
